@charset "UTF-8"; 

.font-rale {
  font-family: 'Raleway', sans-serif;
}

img {
  vertical-align: top;
}

.header-content {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

.header-icon {
  display: inline-block;
}

.bolt {
  color: #333;
}

.header-nav-bar {
  float: right;
}

.header-contact {
  background-color: #74cfae;
  color: #fff;
  display: block;
  font-size: 12px;
  padding: 14px 12px;
}

/* header 終わり　*/

.main-content {
  background-color: #f2f2f2;
}

.theme {
  padding: 250px 0;
}

.first {
  text-align: center;
}

.theme-title {
  font-size: 90px;
  font-weight: 700;
  color: #66CC99;
  line-height: 73px;
}

.theme-text {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* theme 終わり */

.what-do {
  padding: 50px 0 0;
  background-color: #74cfae;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.what-do-left {
  float: left;
}

.what-do-main {
  width: 1000px;
  margin: 0 auto;
}

.what-do-right {
  float: right;
  width: 680px;
}

.second {
  color: #fff;
  text-align: center;
}

.what-do-title {
  margin-top: 20px;
  font-size: 24px;
}

.what-do-text {
  margin-top: 35px;
  font-size: 20px;
}

/* what-do 終わり */

.work {
  background-color: #f2f2f2;
  padding: 60px 0 70px;
}

.work-title {
  font-size: 24px;
  text-align: center;
  color: #777777;
}

.work-image {
  margin: 40px 0 10px;
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.photo {
  margin-bottom: 80px;
  margin-right: 100px;
  opacity: 0.7;
}

.photo:nth-child(3n) {
  margin-right: 0;
}

.photo:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.work-bottom {
  align-items: center;
  display: flex;
  justify-content: center;
}

.work-text {
  font-size: 20px;
  margin-right: 90px;
  width: 570px;
  text-align: center;
  line-height: 25px;
  color: #777777;
}

.email-btn {
  font-size: 12px;
  padding: 14px 20px;
  outline: none;
  border: none;
  color: #fff;
  background-color: #74cfae;
  transition: background-color 0.3s, color 0.3s;
}

.email-btn:hover {
  background-color: #fff;
  color: #74cfae;
}

/* work 終わり */

.skill {
  padding: 70px 10px 100px;
  background-color: #4e4e4e;
  color: #fff;
  text-align: center;
}

.skill-title {
  margin-bottom: 50px;
  font-size: 24px;
}

.skill-op {
  display: inline-block;
  width: 122px;
  font-size: 16px;
  margin-right: 180px;
  box-sizing: border-box;
}

.skill-op:last-child {
  margin-right: 0;
}

.skill-name {
  margin-top: 20px;
}

/* skill 終わり */

.s-icon {
  padding: 200px 0;
  text-align: center;
}

.icon {
  display: inline-block;
  width: 185px;
  transition: background-color 0.3s;
}

.icon-link {
  display: block;
  padding: 16px 0;
}

.icon-image {
  color: #74cfae;
}

.icon:hover {
  background-color: #fff;
}

/*main 終わり*/

.footer-content {
  background-color: #74cfae;
  box-sizing: border-box;
  padding: 20px 10px 25px;
}

.footer-text {
  color: #fff;
  text-align: right;
  padding-right: 50px;
}