@charset "UTF-8"; 
body {
  font-family: 'Lato', sans-serif;
}

.font-rale {
  font-family: 'Raleway', sans-serif;
}

img {
  vertical-align: top;
}

.header-content {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

.header-icon {
  display: inline-block;
}

.bolt {
  color: #333;
}

.header-nav-bar {
  float: right;
}

.header-contact {
  background-color: #74cfae;
  color: #fff;
  display: block;
  font-size: 12px;
  padding: 14px 12px;
}

/* header 終わり　*/

.main-content {
  background-color: #f2f2f2;
}

.theme {
  padding: 250px 0;
}

.first {
  text-align: center;
}

.theme-title {
  font-size: 90px;
  font-weight: 700;
  color: #66CC99;
  line-height: 73px;
}

.theme-text {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* theme 終わり */

.what-do {
  padding: 50px 0 0;
  background-color: #74cfae;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.what-do-left {
  float: left;
}

.what-do-main {
  width: 1000px;
  margin: 0 auto;
}

.what-do-right {
  float: right;
  width: 680px;
}

.second {
  color: #fff;
  text-align: center;
}

.what-do-title {
  margin-top: 20px;
  font-size: 24px;
}

.what-do-text {
  margin-top: 35px;
  font-size: 20px;
}

/* what-do 終わり */

.work {
  background-color: #f2f2f2;
  padding: 60px 0 70px;
}

.work-title {
  font-size: 24px;
  text-align: center;
  color: #777777;
}

.work-image {
  margin: 40px 0 10px;
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.photo {
  margin-bottom: 80px;
  margin-right: 100px;
  opacity: 0.7;
}

.photo:nth-child(3n) {
  margin-right: 0;
}

.photo:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.work-bottom {
  align-items: center;
  display: flex;
  justify-content: center;
}

.work-text {
  font-size: 20px;
  margin-right: 90px;
  width: 570px;
  text-align: center;
  line-height: 25px;
  color: #777777;
}

.email-btn {
  font-size: 12px;
  padding: 14px 20px;
  outline: none;
  border: none;
  color: #fff;
  background-color: #74cfae;
  transition: background-color 0.3s, color 0.3s;
}

.email-btn:hover {
  background-color: #fff;
  color: #74cfae;
}

/* work 終わり */

.skill {
  padding: 70px 10px 100px;
  background-color: #4e4e4e;
  color: #fff;
  text-align: center;
}

.skill-title {
  margin-bottom: 50px;
  font-size: 24px;
}

.skill-op {
  display: inline-block;
  width: 122px;
  font-size: 16px;
  margin-right: 180px;
  box-sizing: border-box;
}

.skill-op:last-child {
  margin-right: 0;
}

.skill-name {
  margin-top: 20px;
}

/* skill 終わり */

.s-icon {
  padding: 200px 0;
  text-align: center;
}

.icon {
  display: inline-block;
  width: 185px;
  transition: background-color 0.3s;
}

.icon-link {
  display: block;
  padding: 16px 0;
}

.icon-image {
  color: #74cfae;
}

.icon:hover {
  background-color: #fff;
}

/*main 終わり*/

.footer-content {
  background-color: #74cfae;
  box-sizing: border-box;
  padding: 20px 10px 25px;
}

.footer-text {
  color: #fff;
  text-align: right;
  padding-right: 50px;
}

/* tab レスポンシブ　*/

@media screen and (max-width:1200px){
  .inner {
    max-width: 97%;
    margin: 0 auto;
  }
/* theme 始まり*/

  .what-do {
    padding-bottom: 25px;
  }

  .what-do-main {
    width: 700px;
    margin: 0 auto;
  }

  .what-do-left {
    width: 210px;
    margin: 0 auto;
  }
  
  .what-do-right {
    margin: 0 auto;
  }

  .float {
    float: none;
  }

  /* work 始まり　*/

  .work-image {
    width: 500px;
    margin: 40px auto 0;
  }

  .photo {
    margin: 0 auto 0;
  }

  .photo:nth-child(3n) {
    margin: 0 auto 80px;
  }

  .work-bottom {
    display: inline-block;
  }

  .work-text {
    width: 100%;
    margin: 0 auto;
  }

  .email-btn {
    display: block;
    margin: 40px auto 0;
    width: 98px;
    text-align: center;
  }

  /* skill　始まり */

  .skill-op {
    display: block;
    width: 100%;
    margin-bottom: 88px;
  }

  .skill-op:nth-child(5) {
    margin-bottom: 0;
  }

/* icon 始まり */

  .icon-inner {
    font-size: 0;
  }

  .icon {
    font-size: 16px;
  }
}

/* sp レスポンシブ */

@media screen and (max-width:767px){
  
  .theme {
    padding: 160px 0 130px;
  }

  .theme-title {
    font-size: 80px;
  }

  /* theme 終わり */

  .what-do-main {
    width: 100%;
  }

  .what-do-right {
    width: 100%;
  }

  .what-do-text {
    width: 95%;
  }

  /* what-do 終わり */

  .work-image {
    width: 100%;
  }

  .s-icon {
    padding: 50px 15px;
  }

  .icon {
    width: 100%;
  }

  /* icon 終わり */

  .footer-text {
    padding-right: 0;
  }

/* ハンバーガーメニュー　アイコン */
.header-nav-bar {
  display: none;
}

  #humberger {
    position: relative;
    height: 36px;
    width: 36px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #c0c0c0;
    border-radius: 4px;
    float: right;
  }
  #humberger div {
    position: absolute;
    left: 4px;
    height: 4px;
    width: 24px;
    background-color: #c0c0c0;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
  }
  #humberger div:nth-of-type(1) {
    top: 4px;
  }
  #humberger div:nth-of-type(2) {
    top: 14px;
  }
  #humberger div:nth-of-type(3) {
    bottom: 4px;
  }